body {
  background-color: rgb(247, 247, 240);
}
.topics-container {
  background-color: rgb(148, 174, 189);
}
.container {
  margin-top: 10px;
}
nav {
  color: rgb(238, 238, 225);
}
nav > p {
  margin: auto;
  font-family: "Roboto Slab", serif;
  font-size: 40px;
  font-weight: bolder;
}
.topic {
  margin: 5px;
  background-color: rgb(49, 88, 109);
  color: azure;
  cursor: pointer;
}
.new-topic {
}
#submit {
  margin: 10px 0 10px 0;
}
.allDisplay {
  display: inline-block;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin: 10px;
  border-color: rgb(205, 228, 240);
  border: 10px;
  background-color: rgb(205, 228, 240);
}
.col-s-12 > .topic{
    margin: 2px;

}